/* 전체 페이지 스타일 */
.robot-page-container {
    margin: 0 auto; /* 가운데 정렬 */
    padding: 15px 90px;
    min-height: 100vh;
    background-color: #f8fafc; /* 연한 배경색 */
    font-family: Arial, sans-serif;
  }
  
  /* 알림 섹션 */
  .robot-alert-section {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px; /* 아래 여백 */
  }

  /* 라이브 로봇 피드 섹션 */
  .robot-dashboard {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    height: 100%;
    width: 100%;
  }


    /* 모바일 반응형 스타일 */
@media (max-width: 768px) {
  /* 전체 페이지 컨테이너 */
  .robot-dashboard {
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .robot-page-container{
    padding: 10px 15px;
  }

}
